
<html>
        <head>
                <title> Hardstyle Directory - Leading you to youre genre of hardstyle </title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style type="text/css">
        .container{
        max-width: 1000px; 
        padding-top: 100px;
        }
        h1 {color: green;}
	h2 {color: green;}
        h3 {color: lightgreen;}

        h1 {font-family: Helvetica bold;}
        h1 {font-size: 100px}
	h2 {font-family: Helvetica bold;}
	h2 {font-size: 70px;}
	h3 {font-family: Helvetica bold;}
	h3 {font-size: 70px;}

        p{color: green;}
        p{font-size: 25px;}
        
	footer {
	text-align: center;
	} 

	</style>
        </head>
         
<body>
<div class="container"> 
<h2> Welcome! </h2>


<br>
<br>
		
<p> Welcome to the Hardstyle Hunters Directory,<br>
from here you can find an selection  of Hardstyle Producers from different sub genres of hardstyle, want to  add a new producer to our website?,  please email us, Thanks! The Hardstyle Hunter Team.  </p> 
<p> We Are The Hardstyle Hunter's Letting you know the latest dj's and genres in Hardstyle</p>  

</div>
</div>
</body>
</html> 

<br>
<br>
<br>
<br>
<br>
<br> 
<br>
<br>
<br>
<footer class="footer">
      <div class="container">
        <span class="text-muted">Copyright Andrew McGuire 2018</span>
      </div>
    </footer>




 

