{% from "macro.html" import nav_link with context %}

<html>
        <head>
                <title> Hardstyle Directory - Leading you to youre genre of hardstyle </title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style type="text/css">


                  .container{
        max-width: 1000px;
        padding-top: 100px;
        }
        h1 {color: green;}
        h3 {color: lightgreen;}
        h1 { font-family: Helvetica bold;}
        h1 { font-size: 50px}
	h1 { text-align: center;}
  p{color: red;}
        p{font-size: 20px;}
	p{font-weight: bold;}
       
        body{
        background-color: #000000 !important
        }
	
	.panel panel-danger{
	background-color:darkred;
	}
	.panel-body {
	background-color: darkgreen;
	font-color: red;
	} 	
	
	.footer {
	text-align: center;
	}
	
	h4 {text-align:center;}
	h4 {font-size: 20px;}
	h4 {font-color:#FFFFFF;}
        </style>
        </head>

        </style>
        </head>

<body>


<h1> EUPHORIC </h1> 
<br>
<br>
<br>

	
   
		 <div class="row">
                        <div class="col-sm-6">
                        <div class="panel panel-danger">
                        <div class="panel-heading"><p>Wildstylez</p></div>
                        <div class="panel-body"><p> Soundcloud: <a href="https://soundcloud.com/wildstylez">Soundcloud</a></p>
						<p>Facebook: <a href="https://www.facebook.com/WILDSTYLEZ/">Facebook</a></p>
						<p>Discogs: <a href-"https://www.discogs.com/artist/890828-Wildstylez">Discogs</a></p> 
			</div>
                        </div>	
			</div> 
					 
                        <div class="col-sm-6">
                        <div class="panel panel-danger">
                        <div class="panel-heading"><p>Project One</p></div>
                        <div class="panel-body"><p>Discogs: <a href="https://www.discogs.com/artist/1148536-Project-One-9">Discogs</a></p>
						<p>Facebook: <a href="https://www.facebook.com/Project1Official/">Facebook</a></p>  
						<p>Youtube: [Under Q-Dance records
]<a href="https://www.youtube.com/channel/UCAEwCfBRlB3jIY9whEfSP5Q"></a></p>
                    </div>
			</div> 
				</div>    
			
			
		 <div class="container"> 
                 <div class="row">
                        <div class="col-sm-6">
                        <div class="panel panel-danger">
                        <div class="panel-heading"><p>Wasted Penquinz</p></div>
                        <div class="panel-body"><p>Facebook: <a href="https://www.facebook.com/wastedpenguinz/">Facebook</a></p>
						<p>Discogs: <a href="https://www.discogs.com/artist/1348086-Wasted-Penguinz">Discogs</a></p> 
						<p>Soundcloud: <a href="https://soundcloud.com/wasted-penguinz">Soundcloud</a></p> 
						<p>Youtube: <a href="https://www.youtube.com/channel/UC-Wj4ughUZGmVgvAacL9pMA">Youtube</a></p> 
							
			</div>
                        </div>
                        </div>

                        <div class="col-sm-6">
                        <div class="panel panel-danger">
                        <div class="panel-heading"><p>Bass Modulators</p></div>
                        <div class="panel-body"><p>Youtube: <a href="https://www.youtube.com/channel/UCYWu6hMcpvfwQMLaO0CwNNw">Youtube</a></p>
						<p>Facebook:<a href="https://www.facebook.com/bassmodulators/">Facebook</a></p>
						<p>Discogs: <a href="https://www.discogs.com/artist/964471-Bass-Modulators">Discogs</a></p>
						<p>Soundcloud: <a href="https://soundcloud.com/dbstf">Soundcloud</a></p>
</div>
                        

                         
			



</div> 
</div>
</div>
</div>
</div>
</div>
</div>
</div>		
		
<div class="container"> 		
                 <div class="row">
                        <div class="col-sm-6">
                        <div class="panel panel-danger">
                        <div class="panel-heading"><p>Da Tweekaz</p></div>
                        <div class="panel-body"><p>Facebook: <a href="https://www.facebook.com/DaTweekaz/">Facebook</a></p>
						<p>Discogs: <a href="https://www.discogs.com/artist/1051979-Da-Tweekaz">Discogs</a></p> 
						<p>Soundcloud: <a href="https://soundcloud.com/datweekaz">Soundcloud</a></p> 
						<p>Youtube:<a href="https://www.youtube.com/watch?v=KZOd3zgeEqw">Youtube</a></p> 

</div>
</div>
</div>

<div class="col-sm-6">
                        <div class="panel panel-danger">
                        <div class="panel-heading"><p>DJ Isaac</p></div>
                        <div class="panel-body"><p>Youtube: <a href="https://www.youtube.com/user/DJISAAC">Youtube</a></p>
						<p>Facebook:<a href="https://www.facebook.com/djisaac/">Facebook</a></p>
						<p>Discogs: <a href="https://www.discogs.com/artist/11804-DJ-Isaac">Discogs</a></p>
						<p>Soundcloud: <a href="https://soundcloud.com/djisaac">Soundcloud</a></p>
</div>

</div>
</div>
</div> 


                 <div class="row">
                        <div class="col-sm-6">
                        <div class="panel panel-danger">
                        <div class="panel-heading"><p>Rebourne</p></div>
                        <div class="panel-body"><p>Facebook: <a href="https://www.facebook.com/rebournemedia/">Facebook</a></p>
						<p>Discogs: <a href="https://www.discogs.com/artist/2906644-Rebourne">Discogs</a></p> 
						<p>Soundcloud: <a href="https://soundcloud.com/rebournemedia">Soundcloud</a></p> 
						<p>Youtube:<a href="https://www.youtube.com/watch?v=dYzaHyDCf2U">Youtube</a></p> 

</div>
</div>
</div>
  
<div class="col-sm-6">
                        <div class="panel panel-danger">
                        <div class="panel-heading"><p>Toneshifterz</p></div>
                        <div class="panel-body"><p>Youtube: <a href="https://www.youtube.com/user/Toneshifterz">Youtube</a></p>
						<p>Facebook:<a href="https://www.facebook.com/Toneshifterz/">Facebook</a></p>
						<p>Discogs: <a href="https://www.discogs.com/artist/1587633-Toneshifterz">Discogs</a></p>
						<p>Soundcloud: <a href="https://soundcloud.com/toneshifterzofficial">Soundcloud</a></p>
</div>

</div> 
</div>
</div>
</div>
</div>
</div>
</div>


</body>

<br>
<br>

<footer class="footer">
      <div class="container">
        <span class="text-muted">Copyright Andrew McGuire 2018</span>
      </div>
    </footer>
<br>
<br>

</html> 
