<!DOCTYPE html>
<html>
	<head>
		<title> Hardstyle Directory - Leading you to youre genre of hardstyle </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<style type="text/css">
	.container{
	max-width: 500px;
	padding-top: 100px;
	}
	h1 {color: green;}
	h3 {color: lightgreen;}
	h1 {text-align: center;}	
	h1 { font-family: Helvetica bold;} 
	h1 { font-size: 100px} 
	h3 {text-align:center;}

	
	.footer {
	text-align: center;
	}
	
	h4 {text-align:center;}
	h4 {font-size: 20px;}
	h4 {font-color:#FFFFFF;}

	

	
	</style>
	</head>
<body>
	<div class="container">
		<h1> Hardstyle Hunter's  Directory</h1>
		<br>
		<h3> Leading you to your genre of hardstyle</h3>
		{% block content %}{% endblock %}
	
	
		</div>
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>

<br>
<br>

<footer class="footer">
      <div class="container">
        <span class="text-muted">Copyright Andrew McGuire 2018</span>
      </div>
    </footer>
<br>
<br>
</html>
