<html>
        <head>
                <title> Hardstyle Directory - Leading you to youre genre of hardstyle </title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style type="text/css">
        .container{
        max-width: 500px;
        padding-top: 100px;
        }
        h1 {color: green;}
        h3 {color: lightgreen;}

        h1 { font-family: Helvetica bold;}
        h1 { font-size: 100px}
	
	p{color: green;}
	p{font-size: 20px;} 
        </style>
        </head>
<body>

</body>

</html>


