{% from "macro.html" import nav_link with context %}

<html>
        <head>
                <title> Hardstyle Directory - Leading you to youre genre of hardstyle </title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style type="text/css">


         .container{
        max-width: 1000px;
        padding-top: 100px;
        }
        h1 {color: green;}
        h3 {color: lightgreen;}

        h1 { font-family: Helvetica bold;}
        h1 { font-size: 40px}
	h1 { text-align: center;}
  p{color: red;}
	p{font-weight: bold;}
        p{font-size: 20px;}

       .panel panel-danger{
	background-color:darkred;
	}
	.panel-body {
	background-color: darkgreen;
	font-color: red;
	} 	

        body{

        background-color: #000000 !important
        }

	footer {
	text-align: center;
	}
	
        </style>
        </head>

<body>

<h1> OLDSCHOOl</h1> 

<br>
<br>
<br>
	
   
		 <div class="row">
                        <div class="col-sm-6">
                        <div class="panel panel-danger">
                        <div class="panel-heading"><p>Showtek</p></div>
                        <div class="panel-body"><p> Soundcloud: <a href="https://soundcloud.com/showtek">Soundcloud</a></p>
						<p>Facebook: <a href="https://soundcloud.com/showtek">Facebook</a></p>
						<p>Discogs: <a href-"https://www.discogs.com/artist/51567-Showtek">Discogs</a></p> 
			</div>
                        </div>	
			</div> 
					 
                        <div class="col-sm-6">
                        <div class="panel panel-danger">
                        <div class="panel-heading"><p>Headhunterz</p></div>
                        <div class="panel-body"><p>Discogs: <a href="https://www.discogs.com/artist/472778-Headhunterz">Discogs</a></p>
						<p>Facebook: <a href="https://www.facebook.com/Headhunterz/">Facebook</a></p>  
						<p>Headhunterz Official website <a href="https://headhunterz.com/"> Official Website</a></p>
                    </div>
			</div> 
				</div>    
			
			
		 <div class="container"> 
                 <div class="row">
                        <div class="col-sm-6">
                        <div class="panel panel-danger">
                        <div class="panel-heading"><p>Donkey Rollers</p></div>
                        <div class="panel-body"><p>Facebook: <a href="https://www.facebook.com/donkeyrollers/">Facebook</a></p>
						<p>Discogs: <a href="https://www.discogs.com/artist/27151-Donkey-Rollers">Discogs</a></p> 
						<p>Soundcloud: <a href="https://soundcloud.com/donkey-rollers">Soundcloud</a></p> 
						<p>Youtube: <a href="https://www.youtube.com/channel/UCz0sA3ZHUQYRNGGfQBAu6Jg">Youtube [Under fusion reccords]</a></p> 
							
			</div>
                        </div>
                        </div>

                        <div class="col-sm-6">
                        <div class="panel panel-danger">
                        <div class="panel-heading"><p>D-block & S-te-fan</p></div>
                        <div class="panel-body"><p>Youtube: <a href="https://www.youtube.com/user/dblockstefan">Youtube</a></p>
						<p>Facebook:<a href="https://www.facebook.com/dbstf/">Facebook</a></p>
						<p>Discogs: <a href="https://www.discogs.com/artist/550090-D-Block-S-te-fan">Discogs</a></p>
						<p>Soundcloud: <a href="https://soundcloud.com/dbstf">Soundcloud</a></p>
</div>
                        

                         
			



</div> 
</div>
</div>
</div>
</div>
</div>
</div>

	<div class="container"> 
                 <div class="row">
                        <div class="col-sm-6">
                        <div class="panel panel-danger">
                        <div class="panel-heading"><p>Dj Zany</p></div>
                        <div class="panel-body"><p>Facebook: <a href="https://www.facebook.com/ZanyDJ/">Facebook</a></p>
						<p>Discogs: <a href="https://www.discogs.com/artist/48375-DJ-Zany">Discogs</a></p> 
						<p>Soundcloud: <a href="https://soundcloud.com/djzany">Soundcloud</a></p> 
						<p>Youtube:<a href="https://www.youtube.com/channel/UCtHsOTmeM1psqU5x_pQ_Q4g">Youtube</a></p> 

</div>
</div>
</div>

<div class="col-sm-6">
                        <div class="panel panel-danger">
                        <div class="panel-heading"><p>Tatanka</p></div>
                        <div class="panel-body"><p>Youtube [No link available]: <a href="#"></a></p>
						<p>Facebook:<a href="https://www.facebook.com/officialdjtatanka/">Facebook</a></p>
						<p>Discogs: <a href="https://www.discogs.com/artist/113272-Tatanka">Discogs</a></p>
						<p>Soundcloud: <a href="">Soundcloud</a></p>
</div>
</div>
</div>



<div class="container"> 
                 <div class="row">
                        <div class="col-sm-6">
                        <div class="panel panel-danger">
                        <div class="panel-heading"><p>Brennan heart</p></div>
                        <div class="panel-body"><p>Facebook: <a href="https://www.facebook.com/djbrennanheart/">Facebook</a></p>
						<p>Discogs: <a href="https://www.discogs.com/artist/439312-Brennan-Heart">Discogs</a></p> 
						<p>Soundcloud: <a href="https://soundcloud.com/brennanheart">Soundcloud</a></p> 
						<p>Youtube:<a href="https://www.youtube.com/channel/UCWFjJaI19jDrzYgwKRfbr0w">Youtube</a></p> 

</div>
</div>
</div>

<div class="col-sm-6">
                        <div class="panel panel-danger">
                        <div class="panel-heading"><p>The Prophet</p></div>
                        <div class="panel-body"><p>Youtube: <a href="https://www.youtube.com/channel/UCU7akfJdYTlQJW8HxhH9QNg">Youtube</a></p>
						<p>Facebook:<a href="https://www.facebook.com/djtheprophet/">Facebook</a></p>
						<p>Discogs: <a href="https://www.discogs.com/artist/17428-The-Prophet">Discogs</a></p>
						<p>Soundcloud: <a href="https://soundcloud.com/djtheprophet">Soundcloud</a></p>
</div>

</div> 
</div>
</div>
</div>
</div>
</div>

</body>

<br>
<br>

<footer class="footer">
      <div class="container">
        <span class="text-muted">Copyright Andrew McGuire 2018</span>
      </div>
    </footer>
<br>
<br>

</html> 
